@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
	font-family: 'NanumSquare';
}

.password-toggle-btn {
	top: 4px;
	transform: translateY(0%);
}
.navbar-brand img {
	height: 40px;
}
.navbar-brand p {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	font-size: 18px;
	color: #111;
	border-left: 1px solid #777;
	line-height: 1;
	font-weight: 700;
	/* font-size: 0; */
}
.card {
	overflow: hidden;
}
.find {
	min-width: 560px;
}
@media (max-width: 575.98px) {
	.find {
		min-width: 100%;
	}
}
header.navbar {
	border-bottom: 1px solid #e3e3e3;
}
header.navbar .dropdown-item i {
	font-size: 12px;
}
.notice-list-item__text {
	display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 72px;
}
.notice-list-item .nav-link {
	line-height: 1;
}

.table thead th {
	background-color: #f6f9fc;
}
.board-list table {
	white-space: nowrap;
}
.board-list .table-sm > :not(caption) > * > * {
	padding: 0.375rem 20px;
}

.admin header.navbar {
	background: #3b77b6;
}
.admin .navbar-brand img {
	height: auto;
}
.admin .navbar-brand p {
	color: #fff;
	border-color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 991.98px) {
	.admin header.navbar .nav-link {
		color: #fff;
	}
	.admin .navbar .nav-item:hover > .nav-link:not(.disabled),
	.admin .navbar .nav-item .nav-link.show:not(.disabled) {
		color: #fff;
	}
	.admin .navbar .dropdown:hover > .nav-link {
		color: #fff;
	}
}
.admin .navbar-toggler-icon,
.admin .navbar-toggler-icon:before,
.admin .navbar-toggler-icon:after {
	background-color: #fff;
}
.modal-kindergarden .list-group,
.modal-team .list-group {
	height: 212px;
	overflow: auto;
	border: 1px solid #e3e9ef;
}
.modal-kindergarden .list-group .list-group-item,
.modal-team .list-group .list-group-item {
	padding-left: 20px;
	padding-right: 20px;
}

.fc-event-time {
	display: none !important;
}

.breadcrumb {
}

.table-question {
	display: flex;
	margin: -0.75rem;
}
.table-question span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 15px 0;
	font-size: 12px;
	text-align: center;
	border-left: 1px solid #e3e9ef;
}

.table-question span:first-child {
	border-left: none;
}

.steps ul li {
	word-break: keep-all;
}
