@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
	font-family: 'NanumSquare';
}
.navbar-brand img {
	height: 40px;
}
.navbar-brand p {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	font-size: 18px;
	color: #111;
	border-left: 1px solid #777;
	line-height: 1;
	font-weight: 700;
	font-size: 0;
}

.find {
	min-width: 560px;
}
@media (max-width: 575.98px) {
	.find {
		min-width: 100%;
	}
}
header.navbar {
	border-bottom: 1px solid #e3e3e3;
}
.notice-list-item__text {
	display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 72px;
}
.notice-list-item .nav-link {
	line-height: 1;
}

.board-list table {
	white-space: nowrap;
}
